* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform 0.5s linear, border 0.1s linear;
    border-top-right-radius: 50px;
    border: 5px solid white;
  }
  .contenitore:hover {
      z-index: 5;
  }
  .contenitore:hover img {
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      
      z-index: 10;
      border-radius: 0;
  }
  .contenitore {
      position: relative;
  }
  div.text-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        top: 20px;
        right: 20px;
        background-color: rgba(0,141,188, 0.8);
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        transition: opacity 0.3s linear, transform 0.3s linear;
        opacity: 0;
        
  }
  
  .contenitore:hover .text-block{
      opacity: 1;
    transition: opacity 1s linear 0.6s;
    -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    
}
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
